app = 'mh-aisolutionsfinder-frontend'
primary_region = 'fra'

[build]
  [build.args]
    NEXT_PUBLIC_API_URL = "https://mh-aisolutionsfinder-backend.fly.dev"

[http_service]
  internal_port = 3000
  force_https = true
  auto_stop_machines = 'off'
  auto_start_machines = true
  min_machines_running = 1
  processes = ['app']

[[vm]]
  memory = '512mb'
  cpu_kind = 'shared'
  cpus = 1
